@value makerBlue from '/src/common/color.css';

.form-item:not(:first-of-type) {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin: -0.3rem;
}

.form > div {
  padding: 0.3rem;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 0.9rem;
}

.form input,
.form select {
  height: 2.8rem;
  padding: 0 0.6em;
}

.form textarea {
  height: 5em;
  padding: 0.6em;
}

.form .input-name,
.form .input-company,
.form .select-theme {
  flex: 0 0 33.3333%;
}

.form .input-file,
.form .input-email {
  flex: 0 0 50%;
}

.form .input-title,
.form .input-contents {
  flex: 0 0 100%;
}

.form textarea {
  resize: none;
}
