@value makerLightGrey from '/src/common/color.css';

.file {
  position: relative;
  height: 2.8rem;
}

.file .input {
  display: none;
}

.file .button {
  width: 100%;
  height: 100%;
  background: makerLightGrey;
}

.file .button:hover {
  opacity: 0.8;
}
