@value makerWhite from '/src/common/color.css';
@value makerBlue from '/src/common/color.css';

.header {
  padding: 5em 0 10em;
  background: makerBlue;
}

.title {
  text-align: center;
  color: makerWhite;
}

.logout {
  padding: 0.6em 1em;
  border: 1px solid makerWhite;
  font-size: 1em;
  color: makerWhite;
}

.header[data-type='login'] {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}
