.login {
  width: 100%;
  max-width: 640px;
  margin: -5rem auto 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.title {
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #666;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 3rem;
}

.button {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1em 1.4em;
  border: 1px solid #ddd;
  font-size: 1em;
}

.button-img {
  width: 1.5em;
}

.button-text::before {
  content: '|';
  margin: 0 0.5em;
  color: #ddd;
}
